* {
    overflow: hidden;
    font-family: system-ui;
    background-color: rgb(15, 16, 20);
    color: rgb(200, 200, 200);
    text-align: center;
    margin: 0;
}
div {
    height: 75vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
img {
    height: auto;
    width: 100%;
    object-fit: contain;
    animation: fade 1s ease-out;
    animation-play-state: paused;
}
.wel {
    padding-inline: 1%; 
    padding-top: 1%;
}

@keyframes fade {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}